<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 sinpadding">
      {{> lateralBeta}}
    </div>
    <!--DENTRO DE ESTE DIV VA: la cabecera y el contenido-->

    <div class="col-md-10 sinpadding">

      {{> cabeceraBeta}}<!--cabecera-->

      <div class="row box-ind sinpadding"><!-- Dentro de este div va todo el contenido-->

        <div class="col-md-12 box-cajas">

          {{#if all}}
          <div class="row  mb-2 mt-2">
            <div class="col-md-4">
              <h4>Interacciones</h4>
            </div>
          </div>

          <div class="row">


            <div class="col-md-8">

              <div class="list-opciones">

                <a class="btn btn-warning" href="/carga_interacciones"> <i class='bx bx-plus-circle'></i> Cargar
                  interacción</a>

                <!--filtra interaccion por estado de interaccion-->
                <details class="btn btn-secondary" style="display: inline-block;">
                  <summary>Filtrar por estado de interacción</summary>
                  <a href="/estadoInteraccion/en_curso" style="display: block;">En curso</a>
                  <a href="/estadoInteraccion/pendiente" style="display: block;">Pendientes</a>
                  <a href="/estadoInteraccion/archivo_de_interacciones" style="display: block;">Historial de estados</a>
                </details>

                <!--filtra interaccion por responsable de interaccion-->
                <details class="btn btn-secondary" style="display: inline-block;">

                  <summary>Filtar por responsable de seguimiento</summary>

                  {{#each usuarios}}
                  <a href="/estadoInteraccion/{{nombre_vendedor}}" style="display: block;">{{nombre_vendedor}}</a>

                  {{/each}}
                </details>

              </div>

            </div>

          </div>

          {{#each todasInteracciones}}
          <div class="container-fluid espacio-bloque">
            <div class="row">
              <div class="col-md-1 fondo-color-dorado-icono">
                <i class='bx bxs-contact'></i>
              </div>
              <div class="col-md-11 fondo-color-dorado-contenido">
                <div class="row">

                  <div class="col-md-4 propiedad-columna-bloque-txt">
                    <div>
                      <strong>Responsable de seguimiento:</strong> {{seguimiento}}
                    </div>

                    <div>
                      <strong>Estado interacción: </strong> {{estado_interaccion}}
                    </div>

                    <div>
                      <strong>Próximo contacto: </strong> {{"DATE_FORMAT(inte.proximo_contacto, '%d-%m-%Y')"}}
                    </div>

                  </div>

                  <div class="col-md-4 propiedad-columna-bloque-txt">
                    <div>
                      <strong>Razón social:</strong> {{razon_social}}
                    </div>

                    <div>
                      <strong>Teléfono: </strong> {{telefono}}
                    </div>

                    <div>
                      <strong>Interés en: </strong> {{interesado_en}}
                    </div>
                  </div>

                  <div class="col-md-4 propiedad-columna-bloque-boton">

                    <details class="btn btn-warning">
                      <summary>Detalles</summary>
                      <a style="display: block;" href="/interacciones/{{id}}">Ver</a>

                      <a style="display: block;" href="/interacciones/eliminar/{{id}}">Borrar</a>

                      <a style="display: block;" href="/interacciones/comentar/{{id}}">Comentar</a>
                    </details>
                  </div><!--Findde Col md3 -->

                </div>
              </div>
            </div>
          </div>
          {{/each}}


          {{else}}


          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 txt-contenido-single">

                <!--Si existe el cuit muestro el link y el cliento no esta cargado-->
                {{#if allTrue }}

                {{#each interaccionUnica}}
                <div class="row">
                  <div class="col-md-3 mt-3 mb-3">
                    <a href="/interacciones/convertir-a-cliente/{{id}}" class="btn btn-success">Validar Cliente</a>
                  </div>
                </div>
                {{/each}}

                {{else}}
                <!--Si no existe el cuit no muestro nada-->


                {{/if}}

                {{#each interaccionUnica}}

                <div class="row">
                  <div class="col-md-3 mt-3 mb-3">
                    <a class="btn btn-danger" href="/interacciones/modificar/{{id}}">Editar</a>
                  </div>
                </div>


                {{/each}}

                <div class="row mt-2 mb-2">
                  <div class="col-md-4">
                    <h4>Interacción Completa: </h4>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-4">
                    <div class="row">

                      <div class="col-md-6">
                        Nombres:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{nombre_de_contacto}}
                        {{/each}}
                      </div>

                      <div class="col-md-6">
                        Razón Social:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{razon_social}}
                        {{/each}}
                      </div>


                      <div class="col-md-6">
                        Correo electrónico:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{correo_electronico}}
                        {{/each}}
                      </div>

                      <div class="col-md-6">
                        Teléfono:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{telefono}}
                        {{/each}}
                      </div>
                      <div class="col-md-6">

                        Localidad:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{localidad}}
                        {{/each}}





                      </div>
                    </div>
                  </div><!--Fin de Columna -->


                  <div class="col-md-4">

                    <div class="row">
                      <div class="col-md-6">
                        Dirección:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{direccion}}
                        {{/each}}
                      </div>



                      <div class="col-md-6">
                        Provincia:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{provincia}}
                        {{/each}}
                      </div>



                      <div class="col-md-6">
                        Cuit:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{cuit}}
                        {{/each}}
                      </div>

                      <div class="col-md-6">
                        Estado interacción:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{estado_interaccion}}
                        {{/each}}
                      </div>

                    </div>
                  </div><!--Fin de Columna -->


                  <div class="col-md-4">
                    <div class="row">

                      <div class="col-md-6">
                        Semáforo comercial:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{semaforo_comercial}}
                        {{/each}}
                      </div>


                      <div class="col-md-6">
                        Tipo maquinaria:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{tipo_maquinaria}}
                        {{/each}}
                      </div>

                      <div class="col-md-6">
                        Modelo máquina:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{modelo_maquina}}
                        {{/each}}
                      </div>

                      <div class="col-md-6">
                        Seguimiento:
                      </div>

                      <div class="col-md-6 negrita">
                        {{#each interaccionUnica}}
                        {{seguimiento}}
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="textarea-container">
            {{#each interaccionUnica}}
            <textarea name="observaciones" placeholder="Escribe aquí las observaciones">{{observaciones}}</textarea>
            {{/each}}
          </div>

          <div class="row">
            <div class="col-md-12  observaciones-single">
              <h4>Otros Comentarios: </h4>
              <p>{{mensaje}}</p>
            </div>
          </div>

          {{#each comentarios}}

          <div class="row">

            <div class="col-md-12 observaciones-single">

              <a class="btn btn-secondary" style="display: inline-block;">Realizado - {{"DATE_FORMAT(comen.ts_create,
                '%d-%m-%Y')"}}</a>

              <a class="btn btn-secondary" style="display: inline-block;">Modificado - {{"DATE_FORMAT(comen.ts_update,
                '%d-%m-%Y')"}}</a>

              <a href="/empleados/{{id_empleado}}" class="btn btn-primary">Ver Quien Hizo El Comentario</a>

              <a href="/interacciones/eliminar-comentario/{{id_comentario}}" class="btn btn-danger"> <i
                  class='bx bx-trash'></i> </a>

              <a href="/interacciones/editar-comentario/{{id_comentario}}" class="btn btn-warning"><i
                  class='bx bx-edit-alt'></i> </a>

            </div>
            <textarea readonly name="" id="comentario" cols="140" rows="5" class="mt-3"
              style="resize: none; border-radius: 5px;">{{comentario_usuario}}</textarea>
          </div>
          {{/each}}

          {{/if}}

        </div><!--fin col-md-12 box-cajas-->
      </div><!--fin row box-ind-->
    </div><!--fin col-md-10-->
  </div><!--fin row-->

  <div><!--fin container fluid-->
    <!---->