<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 sinpadding">
      {{> lateralBeta}}
    </div>
    <!--DENTRO DE ESTE DIV VA: la cabecera y el contenido-->

    <div class="col-md-10 sinpadding">

      {{> cabeceraBeta}}<!--cabecera-->

      <div class="row box-ind sinpadding"><!-- Dentro de este div va todo el contenido-->

        <div class="col-md-12 box-cajas">

          {{#if all}}
          {{#each datos}}
          <div class="container-fluid">

            <div class="row">

              <!-- Foto destacada -->
              <div class="col-md-3 mt-2">
                <img src="{{public_url}}" alt="No hay imagen cargada" class="custom-img img-fluid">
              </div>
              <!-- Fin Foto destacada -->

              <!--Titulo-->
              <div class="col-md-4">
                <p>
                <h5>{{machine}} <br>
                  {{modelo_maquina}}</h5>
                </p>
              </div>
              <!--Fin Titulo-->

              <!--Datos-->

              <div class="col-md-3 mt-3">
                <p>

                  <strong>Modalidad: </strong> {{maquinaria_modalidad}}<br>

                  <strong>Disponibilidad: </strong> {{disponibilidad}}<br>

                  <strong>Estado: </strong> {{estado_del_equipo}}</br>

                  <strong>Precio:</strong> {{#if precio}} {{precio}} {{else}} Precio no definido {{/if}}
                  </br>
                </p>
              </div>

              <!-- Columna para el botón -->
              <div class="col-md-1  mt-3 text-center">


                <div class="dropdown">
                  <button class="btn btn-secondary" >Acciones</button>
                  <div class="dropdown-content">
                    <a class="dropdown-item mb-2" href="/maquinas_disponibles/{{id}}">Ver</a>
                  
                    <a class="dropdown-item mb-2" href="/cargar-foto/{{id}}">Foto destacada</a>
                  
                    <a class="dropdown-item mb-2" href="/cargar-galeria/{{id}}">Cargar galería</a>
                  </div>
                </div>


              </div>

            </div>
          </div>
          <!--Fin Datos-->
          {{/each}}
          {{else}}


          <!--Galería de la máquina -->

          <div id="carouselExample" class="carousel mt-2 slide text-center">
            <div class="carousel-inner">

              {{#each fullInfoGallery}}

              <div class="carousel-item{{#unless @index}} active{{/unless}}">

                <img src="{{url}}" style="border-radius:10px ;" class="img-fluid" alt="Foto maquinaria">

              </div>

              {{/each}}

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <!-- Fin de la galería -->


          <!-- Opciones: Editar, ... -->
          <div class="container">
            <div class="row">

              <div class="col-md-3 mt-3 mb-3">
                {{#each maquinaPorId}}
                <a href="/maquinas_disponibles/modificar/{{id}}" class="btn btn-danger">Editar</a>
                <a href="/cargar-galeria/{{id}}" class="btn btn-warning">Cargar galería</a>
                {{/each}}
              </div>

            </div>
          </div>
          <!-- Fin opciones -->

          <!--Foto destacada-->
          <div class="row mt-2 mb-2">
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{url_foto}}" class="custom-img img-fluid" alt="No hay imagen cargada">
                <div class="card-body" style="display: flex;">

                  <a href="{{url_foto}}" target="_blank" class="btn btn-primary d-flex align-items-center">Ver</a>

                  <h5 style="display: inline-block;" class="ml-2 mt-2">Foto destacada</h5>
                </div>
              </div>
            </div>

          </div>
          <!--Fin foto destacada-->

          <div class="col-md-12 titulo-single-maquina">
            {{#each maquinaPorId}}
            {{machine}}
            {{modelo_maquina}}
            {{/each}}</div>



          <div class="container-fluid">
            {{#each maquinaPorId}}
            <div class="row">

              <div class="col-md-3">
                <p>
                  <strong> Modelo: </strong>{{#if modelo_maquina}} {{modelo_maquina}} {{else}} No hay info. {{/if}}</br>
                  <strong>Tipo de máquina: </strong> {{machine}}</br>

                </p>
              </div>

              <div class="col-md-3">
                <p>
                  <strong>Disponibilidad: </strong>{{disponibilidad}}</br>
                  <strong>Estado: </strong> {{estado_del_equipo}}</br>

                </p>
              </div>

              <div class="col-md-3">
                <p>

                  <strong>Modalidad: </strong> {{#if maquinaria_modalidad}} {{maquinaria_modalidad}} {{else}} No
                  definido{{/if}}
                  </br>
                  <strong>Precio: </strong> {{#if precio}} {{precio}} {{else}} Precio no definido {{/if}}

                </p>
              </div>

              {{/each}}
              <div class="col-md-3">

                {{#each maquinaPorId}}
                <a href="/ficha/{{id}}" id="enlace"></a>
                <button class="btn btn-success" id="botonCopiar">Copiar enlace <i class='bx bx-copy-alt'></i></button>

                <!-- Agregar el elemento de alerta de Bootstrap (inicialmente oculto) -->

                <div class="alert alert-success alert-dismissible fade show mt-2" role="alert" id="alertaEnlaceCopiado"
                  style="display: none;">
                  Enlace copiado
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{/each}}

              </div>
            </div>

            <div class="textarea-container">
              {{#each maquinaPorId}}
              <textarea name="observaciones" placeholder="Escribe aquí las observaciones">{{caracteristicas}}</textarea>
              {{/each}}
            </div>

          </div>

          {{/if}}

        </div><!--fin col-md-12 box-cajas-->

      </div><!--fin row box-ind-->

    </div><!--fin col-md-10-->

  </div><!--fin row-->


  <div><!--fin container fluid-->

    <script src="/js/animation.js"></script>

    <script>
      // Llama a esta función después de que se cargue la página
      $(document).ready(function () {
        $('.carousel').carousel();
      });
    </script>





    <style>
   

      /* Estilos para el botón desplegable */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
   


    /* Estilo para los botones del carrusel */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    background-color: hsla(45, 100%, 51%);
    /* Fondo similar al color de advertencia de Bootstrap */
    color: #333;
    border: none;
    /* Sin borde */
    font-size: 24px;
    /* Tamaño de fuente */
    opacity: 0.8;
    /* Opacidad al estado normal */
    transition: opacity 0.3s ease;
    /* Transición suave */
    border-radius: 10px;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
    opacity: 1;
    /* Opacidad al pasar el ratón por encima */
    }

    /* Cambiar el color del ícono de la flecha siguiente */
    .carousel-control-next-icon::before {
    color: #333;
    /* Color negro metálico */
    }
    </style>