<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 sinpadding">
      {{> lateralBeta}}
    </div>
    <!--DENTRO DE ESTE DIV VA: la cabecera y el contenido-->

    <div class="col-md-10 sinpadding">

      {{> cabeceraBeta}}<!--cabecera-->


      <div class="row box-ind sinpadding"><!-- Dentro de este div va todo el contenido-->

        <div class="col-md-12 box-cajas">

          <div class="row mt-2 mb-2">
            <div class="col-md-4">
              <h4>Notificaciones de interacciones</h4>
            </div>
          </div>
          {{#each notifications}}
          <div class="container-fluid espacio-bloque">
            <div class="row">
              <div class="col-md-1 fondo-color-dorado-icono">
                <i class='bx bxs-contact'></i>
              </div>
              <div class="col-md-11 fondo-color-dorado-contenido">
                <div class="row">

                  <div class="col-md-4 propiedad-columna-bloque-txt">
                    <div>
                      <strong>Encargado de seguimiento:</strong> {{seguimiento}}
                    </div>

                    <div>
                      <strong>Cliente: </strong> {{nombre_de_contacto}}
                    </div>


                  </div>

                  <div class="col-md-4 propiedad-columna-bloque-txt">
                    <div>
                      <strong>Próximo contacto:</strong> {{"DATE_FORMAT(inte.proximo_contacto, '%d-%m-%Y')"}}
                    </div>

                    <div>
                      <strong>Estado de interacción: </strong> {{estado_interaccion}}
                    </div>

                  </div>

                  <div class="col-md-4 propiedad-columna-bloque-boton">

                    <details class="btn btn-warning">
                      <summary>Detalles</summary>
                      <a style="display:block;" href="/interacciones/{{id}}">Ver Interacción</a>
                      <a style="display:block;" href="/notificaciones/modificar/{{id}}">Editar</a>
                    </details>
                  </div><!--Findde Col md3 -->

                </div>
              </div>
            </div>
          </div>
          {{/each}}

        </div><!--fin col-md-12 box-cajas-->

      </div><!--fin row box-ind-->

    </div><!--fin col-md-10-->

  </div><!--fin row-->


  <div><!--fin container fluid-->
    <!---->